* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', Arial, sans-serif;
}

.js-quiz-window {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    width: 80vw;
    height: 66vh;

    border: 2px solid;
}

.js-title {
    text-align: center;
}

.js-title h1 {
    position: relative;
    top: 50px;
}

main {
    text-align: center;
}

/* Landing page */
.js-landing {
    display: block;
    margin-top: 35%;
}

.js-start {
    border-radius: 50%;
    border: 2px solid;
    box-shadow: 5px 5px gray;

    display: block;
    margin-left: auto;
    margin-right: auto;

    width: 150px;
    height: 150px;

    background-color: white;
}

/* Status tracker */
.js-status-tracker {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;

    border: 1px solid;
    width: 70vw;

    padding: 10px;
}

.js-status-tracker p {
    display: inline;
    margin: 10px;
}

/* Questionare */

.js-quote-box {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;

    width: 60vw;

    border: 1px solid;
}

.js-quote-form {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;

    width: 60vw;

    text-align: left;
}

.js-quote-form button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

/* Individual results page */

.js-philosopher-image-box {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;

    border: 1px solid;

    width: 55vw;
    height: 55vw;
}

.js-who-said-box {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    border: 1px solid;
    
    width: 55vw;
    height: 80px;
}

.js-continue {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

/* End results page */
.js-end-results {
    display: block;
    margin-top: 125px;
}

.js-end-results p {
    position: relative;
    top: 50px;
}

.js-end-results a {
    position: relative;
    top: 80px;
}