* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial rounded mt bold';
}

body {
    color: black;
    background-color: #55705A;
}

.js-quiz-window {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 14vh;
    width: 300px;
    height: 500px;

    border: 2px solid;
    border-radius: 15px;
    box-shadow: 5px 5px rgb(59, 77, 51);

    background-color: #e48873;
    color: #2b2119;

    overflow: hidden;
}

.js-title {
    text-align: center;
}

.js-title h1 {
    position: relative;
    top: 7vh;
}

main {
    text-align: center;
}

/* Landing page */
.js-landing {
    display: block;
    margin-top: 35%;
}

.js-start {
    border-radius: 50%;
    border: 2px solid;

    display: block;
    margin-left: auto;
    margin-right: auto;

    width: 150px;
    height: 150px;

    background-color: #ecdccb;

    overflow: hidden;
}

.js-start:hover {
    box-shadow: 5px 5px #95594b;
    cursor: pointer;
}

.js-start:active {
    position: relative;
    left: 5px;
    top: 5px;
    box-shadow: none;
}

.js-start img {
    width: 150px;
    height: 150px;
}

/* Status tracker */
.js-status-tracker {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;

    border: 1px solid;
    border-radius: 15px;
    width: 200px;

    padding: 7px;

    background-color: #ecdccb;
}

.js-status-tracker p {
    display: inline;
    margin: 10px;
}

.correct {
    position: relative;
    top: -10px;
}

/* Questionare */
.js-quote-box {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7vh;

    padding: 5px;

    width: 250px;

    border: 1px solid;
    border-radius: 15px;

    background-color: #ecdccb;
}

.js-quote-form {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;

    width: 200px;

    text-align: left;
}

.js-quote-form label:hover {
    font-size: 18px;
}

.js-quote-form button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vh;
}

/* Individual results page */
.js-philosopher-image-box {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: .5vh;

    border: 1px solid;
    border-radius: 15px;

    width: 200px;
    height: 200px;
}

.js-philosopher-image-box img {
    width: 198px;
    height: 198px;
    
    border-radius: 15px;
    position: relative;
}

.js-who-said-box {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: .5vh;

    padding: 5px;

    width: 200px;

    border: 1px solid;
    border-radius: 15px;

    background-color: #ecdccb;
}

.js-continue {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: .5vh;
}

/* End results page */
.js-end-results {
    display: block;
    margin-top: 125px;
}

.js-end-results p {
    position: relative;
    top: 50px;
}

.js-end-results button {
    position: relative;
    top: 80px;
    
    border-radius: 15px;
    background-color: green;
    border: 1px solid rgb(1, 75, 1);

    padding: 10px;

    font-size: 20px;
}

.js-end-results button:hover {
    box-shadow: 5px 5px #95594b;
    cursor: pointer;
}

.js-end-results button:active {
    position: relative;
    top: 85px;
    left: 5px;

    box-shadow: none;
}

/* Buttons */
.js-button {
    border-radius: 15px;
    background-color: green;
    border: 1px solid rgb(1, 75, 1);

    padding: 10px;

    font-size: 20px;
}

.js-button:hover {
    box-shadow: 5px 5px #95594b;
    cursor: pointer;
}

.js-button:active {
    position: relative;
    top: 5px;
    left: 5px;

    box-shadow: none;
}